[class*="ct"] {
	color: var(--color);
	background-color: var(--background-color);
}
.ct-light {
	color: red;
	background-color: blue;
	heading-color: blue;
	link-color: blue;
}
.ct-dark {
	color: green;
	background-color: pink;
	heading-color: blue;
	link-color: blue;
}

